.skeleton {
    width: 100vw;
    max-width: 1024px;
    margin: 1rem 1rem 0 1rem;
}
.skeleton__content {
    display: flex;
}
.skeleton__content__info {
    flex: 1;
}
.skeleton__content__item {
    margin: 0 0 0.5rem 0.5rem;
}
@media (max-width: 600px) {
    /*below 600*/
    .skeleton {
        width: 95vw;
        display: flex;
        justify-content: center;
    }
    .skeleton__content {
        flex-direction: column;
    }
    .skeleton__content__item {
        margin: 0.5rem 0 0 0;
    }
}
@media (min-width: 601px) {
    /*600px up*/
    .skeleton__content__header {
        padding-left: 1rem;
    }
}
