.channel__videos {
    padding-top: 1rem;
    min-height: calc(100vh - 200px);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}
@media (min-width: 600px) {
    .channel__videos {
        width: 90%;
        margin: 0 auto 1rem auto;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 960px) {
    .channel__videos {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .channel__videos {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1920px) {
    .channel__videos {
        grid-template-columns: repeat(6, 1fr);
    }
}
