.channel__videos {
    padding-top: 1rem;
    min-height: calc(100vh - 200px);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}
.channel__videos__item {
    width: 100%;
    justify-self: center;
}
.channel__videos__item div {
    position: relative;
}
.channel__videos__item div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.channel__videos__item div span {
    color: #ffffff;
    font-size: 12px;
    padding: 0.2rem;
    background-color: #000000;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.channel__videos__item h4 {
    margin: 0.5rem 0;
}
.channel__videos__item p {
    font-size: 14px;
    color: #aaaaaa;
}
@media (min-width: 600px) {
    .channel__videos {
        width: 90%;
        margin: 0 auto 1rem auto;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 960px) {
    .channel__videos {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1440px) {
    .channel__videos {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1920px) {
    .channel__videos {
        grid-template-columns: repeat(6, 1fr);
    }
}
