.search__video {
    margin: 1rem;
    display: flex;
    cursor: pointer;
}
@media (max-width: 600px) {
    .search__video {
        flex-wrap: wrap;
    }
}
.search__video__header {
    position: relative;
    width: 100vw;
    min-width: 320px;
}
.search__video__header img {
    width: 100%;
}
.search__video__header span {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    background-color: #000000;
}
.search__video__info {
    margin-left: 1rem;
}
.search__video__info p {
    font-size: 0.8rem;
    color: #aaaaaa;
    margin: 0.5rem 0;
}
.search__video__info > p:last-child {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 1rem;
}
.search__video__info > div {
    display: flex;
    align-items: center;
}
.search__video__info > div img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.search__video__info > div p {
    margin-left: 0.5rem;
}
@media (max-width: 600px) {
    /*below 600px*/
    .search__video__info h4 {
        margin-top: 1rem;
    }
    .search__channel {
        flex-direction: column;
    }
}
@media (min-width: 600px) {
    /*above 600px*/
    .search__video {
        margin: 1rem 0;
    }
    .search__video__header {
        padding-left: 1rem;
        max-width: 350px;
    }
    .search__channel__header {
        max-width: 300px;
    }
}
.search__channel {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.search__channel button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 1rem;
    color: #ffffff;
    font-weight: 500;
    font-family: inherit;
    border: none;
    outline: none;
    background-color: #cc0000;
    border-radius: 3px;
}
.search__channel__header {
    margin: 1rem;
    width: 100vw;
    min-width: 320px;
    overflow: hidden;
}
.search__channel__header img {
    width: 50%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    transform: translateX(50%);
}
.search__channel__info {
    padding: 0 1rem;
}
.search__channel__info p {
    font-size: 0.8rem;
    color: #aaaaaa;
    margin: 0.5rem 0;
}
