.search {
    width: 100%;
    color: #ffffff;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search__content {
    max-width: 1024px;
}
.search__filter {
    padding: 1rem;
    border-bottom: 1px solid rgba(170, 170, 170, 0.1);
}
@media (max-width: 600px) {
    /*below 600*/
    .search__filter {
        margin-left: 1rem;
    }
}
